@import "@fortawesome/fontawesome-free/css/all.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "select2/dist/css/select2.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
